# Visual Studio
.vs/
*.user
*.suo
*.db
*.opendb

# Build outputs
Debug/
Release/
x64/
x86/

# Intermediate files
*.obj
*.pdb
*.ilk

# Logs
logs/
*.log

# CMake (ileride kullanýrsak)
CMakeFiles/
CMakeCache.txt

# OS
.DS_Store
Thumbs.db
